/*
colour
background-color
font-family
font-size
border-style
letter-spacing
text-decoration
text-align
text-shadow
padding
text-transform
border-right top left bottom
border-color
letter spacing
background image
background position
height
background-repeat
background-blend-mode
border-radius
background-size
*/
html{
	color:purple;
	background-color:#DDA0DD;
}
body{
	background-color:#FFB6C1;
	background-image:url(http://www.ozwallpaper.com/wp-content/uploads/ktz/Cute-Pink-Backgrounds-Tumblr-mmu1crv9ribfdz7xpw2tci6zundvfqjwjbrlo23d68.jpg);
	background-position:top;
	background-blend-mode: lighten;
}
h1{
	font-family:monospace;
	color:#7FFFD4; 
	font-size: 40px; 
	border-style:dotted;
	letter-spacing:-2px;
	background-color:pink;
	text-decoration: underline;
	text-align:center;
	text-shadow:2px 2px #00a180;
	border-radius:15px;
}
h2{
	font-family:courier new;
	color:purple;	
	font-size: 40px;
	background-color:white;
	padding: 1cm 2cm 1cm 2cm;
	border-style:dotted solid double;
	border-color:#DDA0DD;
	text-transform: capitalize;
	background-image:url(https://cdn-enterprise.discourse.org/gethopscotch1/uploads/default/original/3X/1/b/1b20ae2dc146ecbb5ea28375224a7c7bc716b974.gif);
	background-position:bottom;
	background-size:100px 80px;
	background-repeat: repeat;
}
p{
	background-color:#7FFFD4;
	border-style:solid 
	border-right:3px #000080;
	border-left:3px #000080;
	border-top:thick double #000080;
	border-bottom:thick double #000080;
	padding: 2cm 4cm 2cm 4cm;
	font-size: 45px;
	font-family:verdana;
	letter-spacing:-1px;
	text-align: left;
}
footer{
	text-align:right;
	color:purple;
	height:20px;
}

